In [1]:
import pandas as pd

In [2]:
filepath = '''C:/Users/lambw/OneDrive/Documents/COVID19/'''

In [3]:
timeseries_file_name = 'county_cases_timeseries.csv'

In [4]:
df_county_cases = pd.read_csv(filepath+timeseries_file_name)

In [9]:
df_county_cases_daily = pd.read_csv('https://www.arcgis.com/sharing/rest/content/items/b684319181f94875a6879bbc833ca3a6/data')

In [10]:
timestamp = pd.Timestamp.now()

In [11]:
daily_file_name='county_cases_daily_'+str(timestamp.date())+'_'+str(timestamp.hour)+'-'+str(timestamp.minute)+'.csv'

In [12]:
df_county_cases_daily.to_csv(filepath+daily_file_name)

In [56]:
df_county_cases_daily['time_stamp'] = timestamp

In [57]:
df_county_cases_daily.head()

,GSS_CD,GSS_NM,TotalCases,updated
0,E09000002,Barking and Dagenham,14,2020-03-19 13:55:52.147525
1,E09000003,Barnet,27,2020-03-19 13:55:52.147525
2,E08000016,Barnsley,6,2020-03-19 13:55:52.147525
3,E06000022,Bath and North East Somerset,3,2020-03-19 13:55:52.147525
4,E06000055,Bedford,1,2020-03-19 13:55:52.147525

In [58]:
df_county_cases = pd.concat([df_county_cases,df_county_cases_daily],ignore_index=True)

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [59]:
df_county_cases.head()

,GSS_CD,GSS_NM,TotalCases,Unnamed: 0,Unnamed: 0.1,updated
0,E09000002,Barking and Dagenham,14,0.0,0.0,2020-03-19 12:37:21.195442
1,E09000003,Barnet,27,1.0,1.0,2020-03-19 12:37:21.195442
2,E08000016,Barnsley,6,2.0,2.0,2020-03-19 12:37:21.195442
3,E06000022,Bath and North East Somerset,3,3.0,3.0,2020-03-19 12:37:21.195442
4,E06000055,Bedford,1,4.0,4.0,2020-03-19 12:37:21.195442

In [60]:
df_county_cases.to_csv(filepath+timeseries_file_name)